@import '../../variables';

form {
  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;

    div:nth-of-type(1) {
      grid-area: title;
    }

    div:nth-of-type(2) {
      grid-area: type;
    }

    div:nth-of-type(3) {
      grid-area: amount;
    }
  }

  .repeat-switch-container {
    padding: 8px 24px;
    @extend .interFont;
    -webkit-box-shadow: inset 0px 14px 23px -7px rgba(0,0,0,0.2);
    box-shadow: inset 0px 14px 23px -7px rgba(0,0,0,0.2);
    margin: 15px 0;
    .repeat-switch {
      display: inline-grid;
      grid-template-columns: min-content 1fr 1fr;
      width: 100%;
  
      svg.MuiSvgIcon-root {
        align-self: center;
        margin-right: 5px;
      }
  
      p {
        align-self: center;
        margin: 0;
      }
  
      label {
        justify-self: end;
        margin-right: -10px;
      }
    }

    .days {
      margin: 10px 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 5px;
    }
  }
}

.add-button {
  button {
    width: 100%;
  }
}

.inputs-template-areas-show-button {
  grid-template-areas: "title title"
        "type amount";
}

.inputs-template-areas-hide-button {
  grid-template-areas: "title title"
        "type type"
        "amount amount";
}

.dialog-content {
  flex: 1 1 auto;
  padding: 8px 24px;
  overflow-y: auto;
}