.home {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 100%;
    height: 100%;

    .section {
        .section-header {
            font-size: 12px;
            font-family: 'Inter', sans-serif;
        }

        &:nth-child(2) {
            align-self: center;

            .section-header {
                padding: 0 15px;
            }
        }

        &:nth-child(1) {
            padding: 0 15px;
        }

        &:last-child {
            align-self: end;
            padding: 0 15px;
        }
    }
}