.home {
    .section-header {
        font-size: 12px;
        font-family: 'Inter', sans-serif;
    }

    .regular-expenses {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}