.regulars-container {
  height: calc(100vh - 56px);

  .regulars {
    padding-top: 15px;

    .section {
      .section-header {
        margin-bottom: 15px;
      }

      .section-content {
        height: calc(100vh - 175px);
        overflow-y: auto;
      }
    }
  }

  .add-regular-expense {
    height: 67px;
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, .2);
  }
}