@import '../../variables';

.regular-expense-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    flex: 0 0 auto;
    margin-right: 10px;
    margin-bottom: 0.9375rem;
    @extend .boxShadow;

    .expense-icon {
        text-align: center;
        margin-bottom: 5px;
        color: rgb(63, 63, 63);
    }

    p {
        text-align: center;
    }

    p.title {
        font-size: 0.75rem;
        margin: 0 0 10px 0;
        color: rgb(65, 65, 65);
        @extend .interFont;
        font-weight: 400;
    }

    button {
        width: 100%;
        align-self: flex-end;
        color: rgb(65, 65, 65);
        font-size: 0.625rem;
    }
}

.regular-expense-container-editable {
    box-sizing: border-box;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    margin-bottom: 1rem;
    position: relative;
    @extend .interFont;

    .top {
        display: flex;

        .details-grid {
            display: inline-grid;
            grid-template-columns: 35px auto 1fr min-content;
            grid-gap: 10px;
            width: 100%;

            .expense-icon {
                display: grid;
                place-items: center;
                margin-left: 10px;

                .MuiSvgIcon-root {
                    font-size: 1rem;
                    fill: grey;
                }
            }

            .amount {
                font-size: 0.75rem;
                font-weight: bold;
                align-self: center;
            }

            .title {
                margin: 0;
                align-self: center;
                font-weight: 400;
                font-size: 0.875rem;
            }
        }

        .controls-grid {
            display: inline-grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;

            .MuiSvgIcon-root {
                font-size: 1rem;
            }
        }
    }

    .bottom {
        border-top: 1px solid rgba(0, 0, 0, .1);
        font-size: 0.7rem;
        padding: 5px 15px;
        display: inline-grid;
        grid-template-columns: 15px 1fr 1fr;
        width: 100%;
        background-color: aliceblue;

        .repeat-icon {
            align-self: center;
            .MuiSvgIcon-root {
                margin-top: 1px;
                font-size: 0.7rem;
            }
        }

        .days {
            span {
                text-transform: uppercase;

                &:not(:last-child) {
                    margin-right: 5px;
                }

                &:not(:last-child)::after {
                    content: ',';
                }
            }
        }

        .time {
            justify-self: end;
        }
    }
}