.regular-expense-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    flex: 0 0 auto;
    margin-right: 10px;
    margin-bottom: 5px;
    -webkit-box-shadow: 0 6px 6px -8px #777;
    -moz-box-shadow: 0 6px 6px -8px #777;
    box-shadow: 0 6px 6px -8px #777;

    .expense-icon {
        text-align: center;
        margin-bottom: 5px;
        color: rgb(63, 63, 63);
    }

    p {
        text-align: center;
    }

    p.title {
        font-size: 12px;
        margin: 0 0 10px 0;
        color: rgb(65, 65, 65);
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }

    button {
        width: 100%;
        align-self: flex-end;
        color: rgb(65, 65, 65);
        font-size: 10px;
    }
}