.spent-on-container {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding-top: 15px;

    small {
        font-size: 10px;
        font-weight: 300;
    }

    p {
        margin: 0;
    }

    .today {
        grid-area: today;   

        p {
            font-size: 4rem;
        }
    }

    .month {
        grid-area: month;
    }

    .popular-type {
        grid-area: popular-type;
    }

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "today month"
    "today popular-type";
}