.spent-on-container {
    .today {
        grid-area: today;   
    }

    .month {
        grid-area: month;
    }

    .popular-type {
        grid-area: popular-type;
    }

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "today month"
    "today popular-type";
}