@import "../../variables";

.spent-on-container {
    @extend .interFont;
    box-sizing: border-box;
    padding-top: 15px;
    color: var(--theme-text-color);

    small {
        font-size: 0.625rem;
    }

    p {
        margin: 0;
    }

    .today {
        grid-area: today;   

        p {
            font-size: 4rem;
        }
    }

    .month {
        grid-area: month;
    }

    .popular-type {
        grid-area: popular-type;
    }

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "today month"
    "today popular-type";
}