@import '../../variables';

.expense-history-container {
    margin-bottom: 1.5rem;
    @extend .boxShadow;
    height: 50px;
    max-height: 50px;

    .date-time {
        font-size: 0.7rem;

        p {
            padding: 3px 10px;
            background-color: aliceblue;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            @extend .interFont;
            font-weight: 400;
            margin: 0;
        }
    }

    .details-grid {
        display: inline-grid;
        grid-template-columns: 35px 25px 1fr min-content;
        grid-gap: 10px;
        width: 100%;
        border: 1px solid #f3f3f3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;

        .expense-icon {
            display: grid;
            place-items: center;
            margin-left: 10px;

            .MuiSvgIcon-root {
                font-size: 1rem;
                fill: grey;
            }
        }

        .amount {
            font-size: 0.75rem;
            font-weight: bold;
            @extend .interFont;
            align-self: center;
        }

        .title {
            margin: 0;
            align-self: center;
            @extend .interFont;
            font-weight: 400;
            font-size: 0.875rem;
        }

        button {
            .MuiSvgIcon-root {
                font-size: 1rem;
            }
        }
    }
}