@import '../../variables';

.expense-history-container {
    box-sizing: border-box;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    @extend .boxShadow;
    height: 50px;
    max-height: 50px;

    .date-time {
        position: absolute;
        top: -8px;
        right: 10px;
        font-size: 10px;

        span {
            padding: 3px 10px;
            background-color: rgb(85, 73, 255);
            color: white;
            border-radius: 5px;
            @extend .interFont;
            font-weight: 400;
        }
    }

    .details-grid {
        display: inline-grid;
        grid-template-columns: 35px 25px 1fr min-content;
        grid-gap: 10px;
        width: 100%;

        .expense-icon {
            display: grid;
            place-items: center;
            margin-left: 10px;

            .MuiSvgIcon-root {
                font-size: 16px;
            }
        }

        .amount {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, .2);
            text-align: center;
            align-self: center;
            font-size: 12px;
            display: grid;
            place-items: center;
            @extend .interFont;
            font-weight: 400;
        }

        .title {
            margin: 0;
            align-self: center;
            @extend .interFont;
            font-weight: 400;
            font-size: 14px;
        }
    }
}