@import "./variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  .section-header {
    font-size: 10px;
    @extend .interFont;
    font-weight: 300;
  }
}

.padding-horizontal-15 {
  padding: 0 15px;
}

.anim_fadeIn {
  animation: fadeIn 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

.anim_fadeOut {
  animation: fadeOut 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}